 
{% extends "base.html" %}
 {%block js%}{%endblock%}
  {%block main%}
  <div class ="container">
  <ul>
  {%for profile in list_profiles%}
  <li>
   <a href ="/profile/{{profile.id}}">{{profile.id}}  {{profile.fname}} {{profile.lname}}</a>
  
   {{profile.username}} {{profile.age}}
   {{profile.sex}} {{profile.profile_add_on}}
   {{profile.high_score}} {{profile.tDollars}}
  </li>
  {%endfor%}
  </ul>
  <form  action="{{ url_for('profile_list') }}" method="POST">
  <p>View All profile here: <a href ="/profiles/">Members List</a></p>
  </form>
  </div>
  
  {%endblock%}
