
{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
     {% from "macros.html" import render_field %}
 <form method="POST" action="." class="form">
     {{ form.csrf_token }}
     {{ render_field(form.userid, class="input text") }}
     {{ Image: (form.img, class="input text") }}
     {{ First Name(form.fname, class="input text") }}
     {{ Last Name(form.lname, class="input text") }}
     {{ Profile Date: (form.profile_add_on, class="input date") }}
     {{ Username:(form.username, class="input text") }}
     {{ Age: (form.age, class="input number") }}
     {{ Sex: (form.sex, class="input checkbox") }}
     {{High_Score: (form.high_score, class ="input number")}}
     {{TDollars:(form.tdollars, class="number") }}
     <input type="submit" value="Register" class="button green">
   </form>
 
{% endblock %}
