{% extends "base.html" %}
{% block js %}
{% endblock %}
{% block main %}


<div id="ProfilePage">
    <div id="LeftCol">
        <div id="Photo"> <img src="/home/gisdev/Desktop/pic.jpg" alt="Profile Picture" height="200" width="200"> </div>
       
    </div>

    <div id="Info">        
        <p>            
            <span>Mckeane Thomas</span>
        </p>
    </div>
<div id="Info1">        
      
	 <p>            
            <span>Today is:</span>
        </p>
		

    </div>
<div id="Info2">        
      
	 <p>            
            <span>Username:math_101</span>
        </p>
<p>            
            <span>ID:05027106</span>
        </p>
<p>            
            <span>Sex:Male</span>
        </p>
<p>            
            <span>Age:50</span>
        </p>
		
<p>            
            <span>Highest Score:300</span>
        </p>
<p>            
            <span>TDollars:150</span>
        </p>
		
		
		
		

    </div>

    <!-- Needed because other elements inside ProfilePage have floats -->
    <div style="clear:both"></div>
</div>
{% endblock %}
