{% extends "base.html" %}
  {% block js %}{% endblock %} 
    {% block main %}
    <div class = "container">
    
    
     <div id="LeftCol">
        <div id="Photo"> <img alt="Image" src={{img}} height="200" width="200"> </div>
       
    </div>
      <div>
      	<p>  
           <span>{{Full Name: profile.id}} </span>
        </p>
      
        <p>  
           <span>{{Full Name: profile.fname}} {{profile.lname}} </span>
        </p>
        
    </div>
<div id="Info1">        
      
	 <p>            
            <span>{{Date: profile.profile_add_on}}</span>
        </p>
		

    </div>
<div id="Info2">        
      
	 <p>            
            <span>Username:{{profile.username}}</span>
        </p>
<p>            
            <span></span>
        </p>
<p>            
            <span>Sex: {{profile.sex}}</span>
        </p>
<p>            
            <span>Age:{{profile.sex}}</span>
        </p>
		
<p>            
            <span>High Score: {{profile.high_score}}</span>
        </p>
<p>            
            <span>TDollars:{{profile.tDollars}}</span>
        </p>
		
		
		
		

    </div>

    <!-- Needed because other elements inside ProfilePage have floats -->
    <div style="clear:both"></div>
</div>
    </div>
      {% endblock %}
