
{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<div class ="container">
 <form  action="{{ url_for('profile_add') }}" method="POST">
     {{ form.csrf_token }}
     Image: {{form.img}}<br />
     First Name: {{form.fname }}<br />
     {% for error in form.fname.errors %}
            <span style="color: red;">{{ "First Name Required" }}</span>
          {% endfor %}<br>
     Last Name: {{form.lname}}<br />
     {% for error in form.lname.errors %}
            <span style="color: red;">{{ "Last Name Required" }}</span>
          {% endfor %}<br>
     <!--Profile Date:{{form.profile_add_on}}<br />-->
     Username: {{form.username}}<br />
     {% for error in form.username.errors %}
            <span style="color: red;">{{ "Username Required" }}</span>
          {% endfor %}<br>
     Age: {{form.age}}<br />
      {% for error in form.age.errors %}
            <span style="color: red;">{{ "Age Required" }}</span>
          {% endfor %}<br>
     Sex: {{form.sex}} <br />
     High_Score: {{form.high_score}}<br />
     TDollars: {{form.tDollars}}<br />
     <input type="submit" value="Register"/>
   </form>
 </div>
{% endblock %}
