
{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<div class ="container">
 <form method="POST" action="{{url_for('profile_add.html')}}">
     {{ form.csrf_token }}
     Image: {{form.img}}<br />
     First Name: {{form.fname }}<br />
     Last Name: {{form.lname}}<br />
     Profile Date:{{form.profile_add_on}}<br />
     Username: {{form.username}}<br />
     Age: {{form.age}}<br />
     Sex: {{form.sex}} <br />
     High_Score: {{form.high_score}}<br />
     TDollars: {{form.tdollars}}<br />
     <input type="submit" value="Register"/>
   </form>
 </div>
{% endblock %}
